/* Navbar Style */
.navbar {
  padding-top: 20px;
  padding-bottom: 10px;
}

.navbar .nav-link {
  font-size: 20px; 
}

.nav-link:hover {
  color: rgb(163, 1, 120);
}

.teks {
  color: #fff;
}

/* Home Section */
#home {
  padding-top: 180px;
  padding-bottom: 100px;
}

.home-gradient {
  background: linear-gradient(to top, rgb(132, 66, 147), rgb(80, 228, 164), #579cad);
}


.btn {
  background-color: rgb(154, 107, 215);
  color: #fff;
  
} 

.btn:hover {
  background-color:  #5c3d99ff;
}

/* color */
.colorpallete {
--persian-indigo: #301466ff;
--rebecca-purple: #5c3d99ff;
--verdigris: #38a3a5ff;
--emerald: #629460;
--hijau-pastel: #86cb92;
--light-green: #80ed99ff;
--robin-egg-blue: #30c5d2ff;
--indigo: #471069ff;
}

/* Font */


