/* Navbar Style */
.navbar {
  background: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgb(55, 14, 79);
}

.navbar .nav-link {
  font-size: 20px;
}

.nav-link:hover {
  color: rgb(163, 1, 120);
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }
}

.teks {
  color: #fff;
}

/* Home Section */
#home {
  padding-top: 100px;
  padding-bottom: 30px;
}

.home-gradient {
  /* background: linear-gradient(to top, #5ee7df, #b490ca); */
  background: rgb(55, 14, 79);
}

#home h1 {
  font-size: 3rem;
  margin-top: 30px;
  text-shadow: 0 5px 8px rgba(0, 0, 0, 0.922);
}

#home h4 {
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.843);
}

#home p {
  font-size: 1rem;
  margin-top: 20px;
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.814);
}

.btn {
  background-color: #e41c97f6;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.656);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 15px;
}

.btn:hover {
  background-color: rgb(154, 107, 215);
  color: #080808d5;
  transform: translateY(-3px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.623);
}

/* Decor */

.wave {
  margin-top: -50px;
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.brush {
  position: absolute;
  left: 15%;
  top: 100%;
  transform: translate(-50%, -60%);
  z-index: 10;
}

/* About Section */
#about {
  padding-bottom: 3%;
}

#about h1 {
  font-size: 3rem;
  padding-bottom: 30px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.605);
}

.kotak1 {
  border: 1px solid black;
  padding-top: 5%;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(55, 14, 79, 0.861);
  border-radius: 10px;
  width: 600px;
  height: 280px;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.881);
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.kotak1:hover {
  transform: translateX(10px);
  transition: 0.3s;
}

.kotak2 {
  border: 1px solid black;
  padding-top: 6%;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  border-radius: 10px;
  width: 600px;
  height: 280px;
  margin-top: 50px;
  margin-right: 120px;
  margin-left: auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.881);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.kotak2:hover {
  transform: translateX(-10px);
  transition: 0.3s;
}

.tiva {
  height: 680px;
  width: auto;
  padding-top: 5px;
  display: flex;
  padding-left: 35px;
}

/* Guest Star Section */
#guest h1 {
  font-size: 3rem;
  padding-top: 5%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.605);
  padding-bottom: 20px;
}

.guest1 {
  height: 600px;
  width: auto;
  padding-top: 5px;
  margin-left: 50px;
  display: flex;
}

.guest1:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}

.guest2 {
  height: 640px;
  width: auto;
  padding-top: 10px;
  margin-left: 50px;
  display: flex;
}

.guest2:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}

.coin {
  justify-content: flex-end;
  left: 70%;
  position: absolute;
  top: 39%;
  width: 35%;
  display: flex;
}

/* Teaser Video Section */
#teaser {
  background-color: rgb(55, 14, 79);
  display: block;
  color: white;
  padding: 50px;
}

#teaser h1 {
  font-size: 3rem;
  padding-top: 10px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.605);
  padding-bottom: 30;
}

video {
  width: 90%;
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(21, 21, 21, 0.842);
  border: 3px solid rgba(255, 255, 255, 0.2)
  }

video:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

/* Lomba Valter Section */
#lomba h1 {
  font-size: 3rem;
  padding-top: 5%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.605);
  padding-bottom: 20px;
}

/* Timeline Section */
#timeline h1 {
  font-size: 3rem;
  padding-top: 5%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.605);
  padding-bottom: 20px;
}

.timeline-container {
  position: relative;
  margin: 50px auto;
  max-width: 900px;
  padding-top: 2opx;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  border-left: 4px dashed #000000;
}

.timeline-step {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 4px solid #e41c97;
  color: #e41c97;
  font-weight: bold;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(228, 28, 151, 0.3);
  z-index: 2;
  top: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 100px;
  top: 0;
}

.timeline-card {
  background: rgba(55, 14, 79, 0.861);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 7px 12px rgb(22, 21, 21);
  padding: 20px;
  width: 40%;
  position: relative;
}

.timeline-item:nth-child(odd) .timeline-card {
  margin-right: auto;
  text-align: right;
}

.timeline-item:nth-child(even) .timeline-card {
  margin-left: auto;
  text-align: left;
}

.timeline-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.605);
}

/* color */
.colorpallete {
  --persian-indigo: rgb(55, 14, 79);
  --rebecca-purple: #5c3d99ff;
  --light-green: #80ed99ff;
  --robin-egg-blue: #30c5d2ff;
  --pink: #e41c97f6;
  --grey: #747276;
}

.pink {
  color: #e41c97;
}

.ungu {
  color: rgb(55, 14, 79);
}

.hitam {
  color: #000000;
}

/* Font */
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.lilita {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}