/* Navbar Style */
.navbar {
  background: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgb(55, 14, 79);
}

.navbar .nav-link {
  font-size: 20px; 
}

.nav-link:hover {
  color: rgb(163, 1, 120);
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }
}

.teks {
  color: #fff;
}

/* Home Section */
#home {
  padding-top: 100px;
  padding-bottom: 30px;
}

.home-gradient {
  /* background: linear-gradient(to top, #5ee7df, #b490ca); */
  background:  rgb(55, 14, 79);
}

#home h1 {
  font-size: 3rem;
  margin-top: 30px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

#home h3 {
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);

}

#home p {
  font-size: 1rem;
  margin-top: 20px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.btn {
  background-color:#e41c97f6;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
} 

.btn:hover {
  background-color: rgb(154, 107, 215);
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
}

/* Decor */

.wave {
  margin-top: -50px;
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
}

.brush {
  position: absolute;
  left: 15%;
  top: 100%;
  transform: translate(-50%, -60%);
  z-index: 10;
}

/* About Section */
#about {
  padding-bottom: 5%;
}

#about h1 {
  padding-bottom: 30px;
}

.kotak1 {
  aspect-ratio: 1 / 1;
  border: 2px solid black;       
  padding: 20px;
  background:  #e41c97f6;
  border-radius: 10px;        
  width: 500px;
  height: 250px;
  margin: auto;
  box-shadow: 0 8px 10px black;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.kotak2 {
  aspect-ratio: 1 / 1;
  border: 2px solid black;       
  padding: 20px;
  background:  #fff;
  border-radius: 10px;        
  width: 500px;
  height: 250px;
  margin: auto;
  box-shadow: 0 8px 10px #e41c97f6;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* color */
.colorpallete {
--persian-indigo: #301466ff;
--rebecca-purple: #5c3d99ff;
--emerald: #629460;
--hijau-pastel: #86cb92;
--light-green: #80ed99ff;
--robin-egg-blue: #30c5d2ff;
--indigo: #471069ff;
}

.green {
  color:  rgb(103, 186, 148);
}

/* Font */
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.lilita {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

